QTabBar::close-button {
    image:null
}
QTabBar::close-button:selected {
    image: url(:/res/images/close-outline.svg)
}
QTabBar::close-button:selected:hover {
    image: url(:/res/images/close-outline.svg)
    background-color:gray;
}
QTabWidget::tab-bar {
    left: 3px;
}

